# Notebook for Loading Data

In [27]:
import pandas as pd
from sqlalchemy import create_engine
from time import time

In [28]:
pd.__version__

'2.1.4'

## Check a sample of data

In [29]:
# Load first 100 rows
df = pd.read_csv("green_tripdata_2019-01.csv", nrows=100)

In [30]:
len(df)

100

In [31]:
df.head(2)

,VendorID,lpep_pickup_datetime,lpep_dropoff_datetime,store_and_fwd_flag,RatecodeID,PULocationID,DOLocationID,passenger_count,trip_distance,fare_amount,extra,mta_tax,tip_amount,tolls_amount,ehail_fee,improvement_surcharge,total_amount,payment_type,trip_type,congestion_surcharge
0,2,2018-12-21 15:17:29,2018-12-21 15:18:57,N,1,264,264,5,0.00,3.0,0.5,0.5,0.0,0.0,NaN,0.3,4.3,2,1,NaN
1,2,2019-01-01 00:10:16,2019-01-01 00:16:32,N,1,97,49,2,0.86,6.0,0.5,0.5,0.0,0.0,NaN,0.3,7.3,2,1,NaN

In [32]:
# Change column datatypes to datetime
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [33]:
# Create a python engine for SQL
# arguments: <type_of_db>://<user>:<password_from_docker>@<hostname>:<port>/<db_name>
engine = create_engine("postgresql://root:root@localhost:5431/ny_taxi")

In [34]:
# View SQL schema using the dataframe and engine
print(pd.io.sql.get_schema(df, name="green_taxi_data", con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" BIGINT,
	lpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	lpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	store_and_fwd_flag TEXT,
	"RatecodeID" BIGINT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type BIGINT,
	trip_type BIGINT,
	congestion_surcharge FLOAT(53)
)

In [35]:
# Add column names to database
df.head(n=0).to_sql(name="green_taxi_data", con=engine, if_exists="replace")

0

## Create iterator to go through the data

In [36]:
df_iter = pd.read_csv("green_tripdata_2019-01.csv", iterator=True, chunksize=100000)

In [37]:
df_iter

In [38]:
# Add one chunk of the data
#%time df.to_sql(name="green_taxi_data", con=engine, if_exists="append")

## Add all of the data to the db

In [39]:
while True:
    try:
        t_start = time()
    
        # Get next chunk of data
        df = next(df_iter)
    
        # Make datatype corrections
        df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
        df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)
    
        # Append chunk to db
        df.to_sql(name="green_taxi_data", con=engine, if_exists="append")
    
        t_end = time()
        print("inserted another chunk...took %.3f seconds" % (t_end - t_start))
    except:
        print("end of file has been reached, all data is loaded...")
        break

inserted another chunk...took 8.620 seconds
inserted another chunk...took 8.541 seconds
inserted another chunk...took 8.757 seconds
inserted another chunk...took 10.108 seconds
inserted another chunk...took 9.386 seconds
inserted another chunk...took 8.890 seconds
inserted another chunk...took 2.739 seconds
end of file has been reached, all data is loaded...